body {
    background-color: rgb(26, 31, 29);
}

h1 {
    position: absolute;
    top: 15%; left: 50% ; 
    transform: translate(-50%, -50%);
    font-size: 40;
    color: white;
    font-style: oblique;
}

h2 {
    position: absolute;
    top: 24%; left: 50% ; 
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20;
    font-weight: 100;
}

#score1 {
    position: absolute;
    top: 35%; left: 50% ; 
    transform: translate(-50%, -50%);
    font-size: 27;
    color: rgb(77, 77, 77);
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 25px;
    background-color: rgb(196, 255, 221);
    box-shadow: 0px 0px 10px rgb(196, 255, 221);
}

.start {
    font-style: oblique;
    position: relative;
    top: 50%; left: 50% ; 
    transform: translate(-50%, -50%);
    font-size: 40;
    color: rgb(146, 146, 146);
    border-radius: 5px 20px;
    padding: 20px 25px; 
    background-color: rgb(54, 54, 54);
    border: 0;
    letter-spacing: 5px;
    font-weight: bold;
    overflow: hidden;
}

.start:hover {
    color: white;
    box-shadow: 0px 0px 20px rgb(71, 226, 97);
}

.start::before {
    content: "";
    position: absolute;
    height: 100%; width: 100%;
    background-color: rgb(71, 226, 97);
    top: 0; left: -100%;
    transition: all 0.4s;
    z-index: -1;
}

.start:hover::before {
    transform: translatex(100%);
}

#right {
    position: absolute;
    top: 50%; left: 65% ; 
    transform: translate(-50%, -50%);
    background-color: rgb(26, 31, 29);
    color: white;
    font-size: 65;
    border: 0;
    outline: 0;
    background-color: rgb(54, 54, 54);
    border-radius: 10px 10px;
    padding: 10px 15px; 
    z-index: 1000;
}
#left {
    position: absolute;
    top: 50%; left: 35% ; 
    transform: translate(-50%, -50%);
    background-color: rgb(26, 31, 29);
    color: white;
    font-size: 65;
    border: 0;
    outline: 0;
    background-color: rgb(54, 54, 54);
    border-radius: 10px 10px;
    padding: 10px 15px; 
    z-index: 1000;
}

.mode {
    overflow: hidden;
    position: absolute;
    top: 75%; left: 50% ; 
    transform: translate(-50%, -50%);
    width: 100%;
    height: 25%;
    background-color: rgba(13, 17, 16, 0.534);
}

#n1 {
    font-style: oblique;

    z-index: 1000;

    position: absolute;
    top: 25%; left: 50% ; 
    transform: translate(-50%, -50%);

    color: white;
    font-size: 60;
    font-weight: bold;

    background-color: rgb(255, 85, 85);
    border-radius: 10px 10px;
    padding: 60px 90px; 

    transition: all 0.4s;

    box-shadow: 0px 0px 20px rgb(255, 85, 85);
}

#n2 {
    font-style: oblique;

    z-index: 1000;

    position: absolute;
    top: 25%; left: 75% ; 
    transform: translate(-50%, -50%);

    color: white;
    font-size: 60;
    font-weight: bold;

    background-color:rgb(255, 195, 85);
    box-shadow: 0px 0px 20px rgb(255, 195, 85);
    border-radius: 10px 10px;
    padding: 60px 90px;
    
    transition: all 0.4s;

}

#n3 {
    font-style: oblique;

    z-index: 1000;

    position: absolute;
    top: 21%; left: 100% ; 
    transform: translate(-50%, -50%);

    color: white;
    font-size: 70;
    font-weight: bold;

    background-color:rgb(105, 255, 85);
    box-shadow: 0px 0px 20px rgb(105, 255, 85);
    border-radius: 10px 10px;
    padding: 52px 40px; 

    transition: all 0.4s;

}

#n4 {
    font-style: oblique;

    z-index: 1000;

    position: absolute;
    top: 33%; left: 125% ; 
    transform: translate(-50%, -50%);

    color: white;
    font-size: 40;
    font-weight: bold;

    background-color:rgb(85, 221, 255);
    box-shadow: 0px 0px 20px rgb(85, 221, 255);
    border-radius: 10px 10px;
    padding: 73px 27px; 

    transition: all 0.4s;

}

#n5 {
    font-style: oblique;

    z-index: 1000;

    position: absolute;
    top: 21%; left: 25% ; 
    transform: translate(-50%, -50%);

    color: white;
    font-size: 70;
    font-weight: bold;

    background-color:rgb(159, 85, 255);
    box-shadow: 0px 0px 20px rgb(159, 85, 255);
    border-radius: 10px 10px;
    padding: 53px 35px; 

    transition: all 0.4s;

}

#n6 {
    font-style: oblique;

    z-index: 1000;

    position: absolute;
    top: 33.5%; left: 0% ; 
    transform: translate(-50%, -50%);

    color: white;
    font-size: 40;
    font-weight: bold;

    background-color:rgb(159, 85, 255);
    box-shadow: 0px 0px 20px rgb(159, 85, 255);
    border-radius: 10px 10px;
    padding: 73px 31.5px; 

    transition: all 0.4s;

}